<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>个人中心</title>
		<script type="text/javascript" src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<link type="text/css" rel="stylesheet" href="css/public.css">
	</head>

<body class="f5bj">
	<div id="app">
		<include src="header.html"></include>
		
		<div class="fs15 mg0" style="width: 900px;">
			<h1 class="ftn pdt50 pdb30 center fs18">选择会员</h1>
			<div class="seltTable center whiteBj">
				<table border="0" cellspacing="" cellpadding="">
					<tr>
						<td class="one">会员级别</td>
						<td class="two">金额/重量/质量</td>
						<td class="three">一级分享补贴</td>
						<td class="four">二级分享补贴</td>
						<td class="five">复购价格/斤</td>
					</tr>
					<tr v-for="(item,index) in productData" :key="index">
						<td class="one flexCenter"  @click="changeVIP(index)">
							<img class="seltIcon" 
							:src="seltCurr==index?'images/package-icon1.png':'images/package-icon.png'" alt="">
							{{item.title}}
						</td>
						<td class="two">{{item.description}}</td>
						<td class="three">{{item.passage1}}%</td>
						<td class="four">{{item.passage2}}%</td>
						<td class="five">{{item.o_price}}/斤</td>
					</tr>
				</table>
			</div>
			
			<h1 class="ftn pdt50 pdb30 center fs18">请选择填写种类和重量</h1>
			<div class="center whiteBj">
				<table  border="0" cellspacing="" cellpadding="">
					<tr>
						<td rowspan="7" style="width:30%; line-height: 32px;">
							<p>茶叶品种和重量</p>
							<p>(多选)</p>
							<p>注：总重量与套餐重量相符</p>
						</td>
						<td>种类</td>
						<td>重量(斤)</td>
					</tr>
					<tr v-for="(item,index) in varietyData" :key="index">
						<td>{{item.name}}</td>
						<td class="flexCenter">
							<div class="numBox flex">
								<span @click="counter(index,'-')">-</span>
								<span class="num">{{item.count}}</span>
								<span class="plus" @click="counter(index,'+')">+</span>
							</div>
						</td>
					</tr>
				</table>
			</div>
			
			<h1 class="ftn pdt50 pdb30 center fs18">收货人信息</h1>
			<div class="whiteBj boxShaow pdlr4">
				<div class="inforTwo pdt30 pdb10">
					<p class="item flex">
						<span>收货人姓名：</span>
						<span class="input"><input type="text" name="" v-model="userInfo.name" /></span>
					</p>
					<p class="item flex">
						<span>收货人电话：</span>
						<span class="input"><input type="text" name="" v-model="userInfo.phone" /></span>
					</p>
					<p class="item flex">
						<span>收货人地址：</span>
						<span class="input"><input type="text" name="" v-model="userInfo.address" /></span>
					</p>
				</div>
			</div>
		
			<div class="submitbtn" style="margin-top: 80px;">
				<button class="Wbtn" type="button" @click="submit">确定</button>
			</div>
			<div class="h100"></div>
			
			
			<div class="black-bj" v-if="is_show"></div>
			<div class="zhufuALert whiteBj center" v-if="is_ewmPayShow">
				<h1 class="price red fs24 ftn">￥{{price}}</h1>
				
				<img class="ewm" :src="url" alt="">
				<p class="fs12 color6">支付仅支持支付宝，请用支付宝扫码进行支付</p>
				<span class="closeBtn" @click="ewmPayShow">×</span>
			</div>
			
		</div>
		
	</div>
</body>

	
	<script type="text/javascript">
		var app = new Vue({
		    el: '#app',
		    data:function(){
		        return {
		        	banner_index:0,
					is_show:false,
					wx_show:2,
					mainData: [],
					labelData: [],
					tableDate:[
						{level:'皇冠',specs:'8000/5斤/特级',classA:'25%',classB:'5%',weight:'1600/斤'},
						{level:'钻石',specs:'5000/3斤/特级',classA:'15%',classB:'2.5%',weight:'1700/斤'},
						{level:'黄金',specs:'2000/1斤/特级',classA:'6%',classB:'1%',weight:'2000/斤'},
						{level:'白银',specs:'1000/1斤/特级',classA:'3%',classB:'0.5%',weight:'3000/斤'}
					],
					seltCurr:0,
					varietyData:[
						
					],
					is_ewmPayShow:false,
					productData:[],
					userInfo:{},
					submitData:{
						snap_product:[]
					},
					url:'',
					price:0
		        }
		    },
			
			created: function() {
				var self = this;
				self.userInfo = window.base.getStorageArray('user_info')[0].info;
				console.log('userInfo',self.userInfo);
				
				self.getProductData();
				
			},
			
		    methods: {
				changeVIP(index){
					const self = this;
					self.seltCurr = index;
					self.productId = self.productData[self.seltCurr].id;
					for (var i = 0; i < self.varietyData.length; i++) {
						self.varietyData[i].count = 0
					};
				},
				
				submit(){
					const self = this;
					
					for (var i = 0; i < self.varietyData.length; i++) {
						if(self.varietyData[i].count>0){
							self.submitData.snap_product.push(self.varietyData[i])
						}
					};
					if(self.submitData.snap_product.length==0){
						alert('请选择茶的种类');
						return
					};
					var data = window.base.cloneForm(self.submitData);
					var orderList = [
						{product_id:self.productId,count:1,type:1,data:data}
					];
					self.pay = {
						ThirdPay:{
							price:self.productData[self.seltCurr].price
						}
					};
					self.addOrder(orderList)	
				},
				
				addOrder(orderList) {
					const self = this;	
					/* if(self.orderId){
						 self.payNow();
						 return
					}; */
					const postData = {}; 
					postData.orderList = window.base.cloneForm(orderList);
					postData.token=localStorage.getItem('user_token')
					const callback = (res) => {
						if (res && res.solely_code == 100000) {
							self.orderId = res.info.id;
							self.payNow()
						} else {		
							alert(res.msg)
						};		
					};
					window.base.addOrder(postData, callback);
				},
				
				
				
				payNow(order_id) {
					const self = this;	
					
					const postData = window.base.cloneForm(self.pay);
					postData.token = localStorage.getItem('user_token');
					postData.searchItem = {
						id: self.orderId
					};	
					const callback = (res) => {
						if (res.solely_code == 100000) {
							
							var url = 'https://api.sdpay.cc/pay?app_id='
							+res.info.app_id
							+'&order_amount='+res.info.order_amount
							+'&pay_type='+res.info.pay_type
							+'&order_no='+res.info.order_no
							+'&order_uid='+res.info.order_uid
							+'&trade_name='+res.info.trade_name
							+'&sign='+res.info.sign
							window.location.href = url
							
							/* self.url = res.info.qr_img;
							self.price = res.info.pay_amount;
							self.is_show = true;
							self.is_ewmPayShow = true;
							localStorage.removeItem('user_token');
							localStorage.removeItem('user_no');
							localStorage.removeItem('user_info');
							window.location.href = './login.html'
							self.interval = setInterval(function(){
							  self.getOrderData()
							},1000) */
						} else {
							alert(res.info.msg)
						};
					};
					window.base.pay(postData, callback);
				},
				
				getOrderData(){
					var self = this;
					const postData = {
						searchItem:{
							thirdapp_id:2,
							id:self.orderId
						}
					};
					postData.token = localStorage.getItem('user_token');
					var callback = function(res){
						if(res.info.data.length>0){
							if(res.info.data[0].pay_status==1){
								alert('支付成功');
								localStorage.removeItem('user_token');
								localStorage.removeItem('user_no');
								localStorage.removeItem('user_info');
								clearInterval(self.interval)
								window.location.href = './login.html'
							}
						}
					};
					window.base.orderGet(postData, callback);
				},
				
				counter(index,type) {
					const self = this;
					if (type == '+') {
						var count = 0;
						for (var i = 0; i < self.varietyData.length; i++) {
							count += self.varietyData[i].count
						};
						if(count>=parseInt(self.productData[self.seltCurr].standard)){
							alert('不能超过总斤数')
							return
						};
						self.varietyData[index].count++;
						
					} else {
						if (self.varietyData[index].count > 0) {
							self.varietyData[index].count--;
						}
					};
					
				},
				
				ewmPayShow(){
					const self = this;
					self.is_ewmPayShow = !self.is_ewmPayShow;
					self.is_show = !self.is_show
				},
				
				getThirdappData(id){
					var self = this;
					const postData = {
						searchItem:{
							id:2
						}
					};
					var callback = function(res){
						if(res.solely_code==100000){
							self.thirdappData = res.info.data[0];
							var varietyData = self.thirdappData.app_description.split(",");
							
							for (var i = 0; i < varietyData.length; i++) {
								self.varietyData.push({name:varietyData[i],count:0})
							};
							console.log('self.varietyData',self.varietyData)
							for (var i = 0; i < self.productData.length; i++) {
								if(self.productData[i].title=='皇冠'){
									console.log(5646)
									self.productData[i].passage1 = self.thirdappData.custom_rule.crown_one
									self.productData[i].passage2 = self.thirdappData.custom_rule.crown_two
								}else if(self.productData[i].title=='钻石'){
									self.productData[i].passage1 = self.thirdappData.custom_rule.diamond_one
									self.productData[i].passage2 = self.thirdappData.custom_rule.diamond_two
								}else if(self.productData[i].title=='黄金'){
									self.productData[i].passage1 = self.thirdappData.custom_rule.gold_one
									self.productData[i].passage2 = self.thirdappData.custom_rule.gold_two
								}else if(self.productData[i].title=='白银'){
									self.productData[i].passage1 = self.thirdappData.custom_rule.silver_one
									self.productData[i].passage2 = self.thirdappData.custom_rule.silver_two
								}else if(self.productData[i].title=='普通'){
									self.productData[i].passage1 = self.thirdappData.custom_rule.ordinary_one
									self.productData[i].passage2 = self.thirdappData.custom_rule.ordinary_two
								}
									
							}
							console.log('self.productData',self.productData)
						}
					};
					window.base.thirdappGet(postData, callback);
				},
				
				getProductData(){
					var self = this;
					const postData = {
						searchItem:{
							thirdapp_id:2
						}
					};
					postData.order = {
						create_time:'asc'
					};
					var callback = function(res){
						if(res.info.data.length>0){
							self.productData.push.apply(self.productData,res.info.data);
							self.productId = self.productData[0].id;
						}
						self.getThirdappData()
					};
					window.base.productGet(postData, callback);
				}
				
		    }
		});
	</script>
	
	<style>
		.seltTable table tr:nth-of-type(2n){background: #F5F5F5;}
		.seltIcon{width: 15px; height: 15px;margin-right: 5px;}
		table{width: 100%;border-top:1px solid #E8E8E8;border-left:1px solid #E8E8E8;}
		table tr{border-bottom: 1px solid #E8E8E8;}
		table tr td{border-right: 1px solid #E8E8E8;padding: 8px 3px;box-sizing: border-box;height: 60px;}
		
		
		/* 数量加减 */
		.numBox span{ width: 20px; height: 20px;line-height: 20px;color: #fff; background: #dfdfdf;font-size:16px ; text-align: center; border-radius: 4px;}
		.numBox span.num{ width: 35px;background: #fff; color: #333; font-size: 13px;border-radius: 0;}
		.numBox span.plus{background: #2DC1FF;}
		
		/* 收货人信息 */
		.inforTwo p{margin-bottom:30px;}
		.inforTwo .input{width: 84%;margin-left: 30px;}
		.inforTwo .input input{width: 100%; line-height: 20px;display: block;background: #f8f8f8;padding: 5px 20px; color: #222;box-sizing: border-box;}
		
		.zhufuALert{width: 600px;padding: 50px 4% 80px 4%;box-sizing: border-box;position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 60;}
		.zhufuALert .ewm{margin: 25px auto; display: block;width: 180px; height: 180px;}
		.zhufuALert .closeBtn{top: auto; bottom: 20px;color: #999;border: 1px solid #999;line-height: 20px;}
		
		.submitbtn .Wbtn{line-height: 50px; height: 50px;border-radius: 0;font-size: 16px;}
	</style>
</html>