<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>个人中心</title>
		<script type="text/javascript" src="./js/vue.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/base.js"></script>
		<script type="text/javascript" src="js/include.js"></script>
		<link type="text/css" rel="stylesheet" href="css/public.css">
		<style>
			.swiperBox{ display: none;}
			.loginBox .bjpic{display: block;position: fixed; top:60px;left: 0;right: 0;bottom: 0;width: 100%; z-index: 0;}
			.mainCont{width: 900px;margin:4% auto 20px auto;padding:40px 10%; min-height: 400px;position: relative; z-index: 1;box-sizing: border-box;}
			.loginInfor{height: 400px;}
			.registerInfor .editbox ul{flex-wrap: wrap;}
			.registerInfor .editbox li{width: 45%;}
			
			.titNav .tt.on{font-size: 22px;color: #222;}
			.editbox li{width: 100%;height: 40px;background: #f2f2f2;padding: 5px 20px;box-sizing: border-box; margin-bottom: 20px;font-size: 14px;}
			.editbox li input{width: 100%;height: 30px;line-height: 30px; display: block;background: none;box-sizing: border-box;font-size: 14px;}
			.submitbtn .Wbtn{line-height: 50px; border-radius: 0;height: 50px;font-size: 16px;}
		</style>
	</head>

<body>
	<div id="app">
		<include src="header.html"></include>
		<div class="loginBox">
			<img class="bjpic" src="images/registered-img.jpg" >
			<div class="mainCont whiteBj">
				<div class="titNav flex fs20 color6 mgb15">
					<span class="tt mgr40" :class="curr==1?'on':''" @click="changeCurr('1')">登录</span>
					<span class="tt" :class="curr==2?'on':''" @click="changeCurr('2')">注册</span>
				</div>
				<div class="loginInfor pdt40" v-show="curr==1">
					<!-- 验证码登录 -->
					<div v-show="num==1">
						<div class="editbox">
							<ul>
								<li style="margin-bottom: 40px;">
									<input v-model="submitData.login_name" type="text" maxlength="11"  placeholder="手机号" onkeyup="this.value=this.value.replace(/\D/g,'')" />
								</li>
								<li class="flexRowBetween">
									<div style="width: 60%;">
										<input v-model="submitData.code" type="text"  placeholder="验证码"/>
									</div>
									<span class="pubColor ftw" @click="sendCode" v-if="!hasSend">{{text}}</span>
									<span class="pubColor ftw"  v-if="hasSend">{{text}}</span>
								</li>
							</ul>
						</div>
						<div class="flex  pdb30"><span class="color9"  @click="changeNum('2')">密码登录</span></div>
						<div class="submitbtn mgt40">
							<a class="Wbtn" @click="submit">登录</a>
						</div>
					</div>
					
					<!-- 密码登录 -->
					<div class="paswdLogin" v-show="num==2">
						<div class="editbox">
							<ul>
								<li style="margin-bottom: 40px;">
									<input v-model="submitData.login_name" type="number" maxlength="11"  placeholder="手机号" onkeyup="this.value=this.value.replace(/\D/g,'')" />
								</li>
								<li class="flexRowBetween">
									<input v-model="submitData.password" type="password"  placeholder="密码"/>
								</li>
							</ul>
						</div>
						<div class="flex  pdb15"><a class="color9 fs13" @click="changeNum('1')">验证码登录</a></div>
						<div class="submitbtn  mgt40">
							<a class="Wbtn" @click="submit">登录</a>
						</div>
					</div>
				</div>
				
				<!-- 注册 -->
				<div class="registerInfor mgt30" v-show="curr==2">
					<div class="color6 pdb15">
						<p class="pdb10">加入流程：信息录入——选择套餐——支付——注册成功</p>
						<p>所填信息必须真实，如有错误，将影响提现，微信号用于接收项目资料，支付宝账号和姓名必须保持一致，用于接收资金补贴。以后登录时用手机号码和手机验证码登录。</p>
					</div>
					<div class="editbox mgt20">
						<ul class="flexRowBetween">
							<li>
								<input type="text"  placeholder="姓名" v-model="registerData.name"/>
							</li>
							<li>
								<input type="text" maxlength="11"  placeholder="手机号" 
								onkeyup="this.value=this.value.replace(/\D/g,'')" v-model="registerData.phone"/>
							</li>
							<li>
								<input type="text"  placeholder="微信号" v-model="registerData.wechat"/>
							</li>
							<li>
								<input type="text"  placeholder="支付宝号" v-model="registerData.zfb"/>
							</li>
							<li>
								<input type="text"  placeholder="设置密码" v-model="registerData.password"/>
							</li>
							<li>
								<input type="text"  placeholder="确认密码" v-model="registerData.copyPassword"/>
							</li>
							<li>
								<input type="text"  placeholder="所在省市" v-model="registerData.address"/>
							</li>
							<li>
								<input type="text"  placeholder="邀请码" v-model="registerData.code"/>
							</li>
							<li class="flexRowBetween" style="width: 100%;">
								<div style="width: 60%;">
									<input type="text"  placeholder="验证码" v-model="registerData.smsCode"/>
								</div>
					
								<span class="pubColor ftw fs12" @click="sendCodeTwo" v-if="!hasSend">{{textTwo}}</span>
								<span class="pubColor ftw fs12"  v-if="hasSend">{{textTwo}}</span>
							</li>
						</ul>
					</div>
					<div class="submitbtn mgt30">
						<a class="Wbtn" @click="register">提交</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

	
	<script type="text/javascript">
		var app = new Vue({
		    el: '#app',
		    data:function(){
		        return {
		        	banner_index:0,
					is_show:false,
					wx_show:2,
					mainData: [],
					labelData: [],
					curr:1,
					num:1,
					registerData:{
						name:'',
						phone:'',
						address:'',
						wechat:'',
						password:'',
						code:'',
						//smsCode:'',
						copyPassword:''
					},
					submitData:{
						login_name:'',
						password:'',
						code:'',
						
					},
					currentTime:61,
					text:'获取验证码',
					hasSend:false,
					textTwo:'获取验证码',
					hasSendTwo:false,
					currentTimeTwo:61,
		        }
		    },
			
			created: function() {
				var self = this;
				var userAgentInfo = navigator.userAgent;
				console.log('userAgentInfo',userAgentInfo)
				var Agents = ["Android", "iPhone",
				  "SymbianOS", "Windows Phone",
				  "iPad", "iPod"];
				var flag = true;
				for (var v = 0; v < Agents.length; v++) {
				  if (userAgentInfo.indexOf(Agents[v]) > 0) {
					 flag = false;
					 break;
				  }
				}
				console.log('flag',flag)
				if(!flag){
					window.location.href = 'http://106.12.155.217/fuTea/mobile/login.html';
				};
				if(window.base.GetRequest().code){
					self.registerData.code = window.base.GetRequest().code
				}
			},
			
		    methods: {
				
				changeCurr(curr){
					const self=this;
					if(curr!=self.curr){
						self.curr = curr
					}
				},
				
				changeNum(num){
					const self=this;
					if(num!=self.num){
						self.num = num
					}
				},
				
				sendCode(){
					var self = this;
					console.log(111)
					if(self.hasSend){
						return;
					};
					var phone = self.submitData.login_name;
					
					if (phone.trim().length != 11 || !/^1[3|4|5|6|7|8|9]\d{9}$/.test(phone)) {
						
						alert('请输入正确的手机号', 'none');
						return;
					}
					var postData = {
						data:{
							phone:self.submitData.login_name
						}
						
					};
					var callback = function(res){
						if(res.solely_code==100000){
							self.hasSend = true;
							var interval = setInterval(function() {
								self.currentTime--; //每执行一次让倒计时秒数减一
							
								self.text=self.currentTime + 's';//按钮文字变成倒计时对应秒数
								
								//如果当秒数小于等于0时 停止计时器 且按钮文字变成重新发送 且按钮变成可用状态 倒计时的秒数也要恢复成默认秒数 即让获取验证码的按钮恢复到初始化状态只改变按钮文字
								if (self.currentTime <= 0) {
									clearInterval(interval)
									
									self.hasSend = false;
									self.text='重新发送';
									self.currentTime= 61;
									
								}
								
							}, 1000);
						}else{
							alert(res.msg);
						};
					};
					window.base.codeGet(postData, callback);
				},
				
				sendCodeTwo(){
					var self = this;
					console.log(111)
					if(self.hasSend){
						return;
					};
					var phone = self.registerData.phone;
					
					if (phone.trim().length != 11 || !/^1[3|4|5|6|7|8|9]\d{9}$/.test(phone)) {
						
						alert('请输入正确的手机号', 'none');
						return;
					}
					var postData = {
						data:{
							phone:self.registerData.phone
						}
					};
					var callback = function(res){
						if(res.solely_code==100000){
							self.hasSendTwo = true;
							var interval = setInterval(function() {
								self.currentTimeTwo--; //每执行一次让倒计时秒数减一
							
								self.textTwo=self.currentTimeTwo + 's';//按钮文字变成倒计时对应秒数
								
								//如果当秒数小于等于0时 停止计时器 且按钮文字变成重新发送 且按钮变成可用状态 倒计时的秒数也要恢复成默认秒数 即让获取验证码的按钮恢复到初始化状态只改变按钮文字
								if (self.currentTimeTwo <= 0) {
									clearInterval(interval)
									
									self.hasSendTwo = false;
									self.textTwo='重新发送';
									self.currentTimeTwo= 61;
									
								}
								
							}, 1000);
						}else{
							alert('发送失败');
						};
					};
					window.base.codeGet(postData, callback);
				},
				
				submit() {
					const self = this;
					const postData = {
						login_name: self.submitData.login_name,
						password:self.submitData.password	
					};	
					if(self.num==1){
						postData.smsAuth = {
							phone:self.submitData.login_name,						
							code:self.submitData.code					,
						};
						delete postData.password
					};
					
					var newObject = window.base.cloneForm(self.submitData);
					if(self.num==1){
						delete newObject.login_name;
						delete newObject.password;
					}else{
						
						delete newObject.code;
					};
					
					if (window.base.checkComplete(newObject)) {
						const callback = (res) => {
							if (res.solely_code == 100000) {
								alert('登陆成功', 'none')
								localStorage.setItem('user_token', res.token);
								localStorage.setItem('user_no', res.info.user_no);	
								localStorage.setItem('isTure', true);
								window.base.setStorageArray('user_info', res.info, 'id', 999, 'unshift');
								window.location.href = 'center.html'; 							
							} else {
								alert(res.msg)
							}
						}
						window.base.login(postData, callback);
					} else {
						console.log('newObject',newObject)
						alert('请补全登录信息', 'none')
					};
				},
				
				register() {
					const self = this;
					var newObject = window.base.cloneForm(self.registerData);
					delete newObject.copyPassword
					const postData = {
						data:window.base.cloneForm(newObject)					
					}
					/* postData.smsAuth = {						
						phone:self.registerData.phone,						
						code:self.registerData.smsCode,
					}; */
					if (window.base.checkComplete(newObject)) {						
						const callback = (res) => {
							if (res.solely_code == 100000) {
								alert(res.msg)
								self.registerData = {																
									name:'',
									phone:'',
									address:'',
									wechat:'',
									password:'',
									code:'',
									smsCode:''
								};
								self.curr = 1;
								localStorage.setItem('user_token', res.token);
								localStorage.setItem('user_no', res.info.user_no);						
								window.base.setStorageArray('user_info', res.info, 'id', 999, 'unshift');
								window.location.href = 'enterSelt.html';			
							} else {
								alert(res.msg)
							}
						}
						window.base.register(postData, callback);
					} else {
						alert('请补全信息', 'none')
					};
				},
				
		    }
		});
	</script>
	
</html>